name: Hello World
on:
    schedule:
        - cron: "*/1 * * * *"
jobs:
    hello-job:
        runs-on: ubuntu-latest
        steps:
        - name: Echo text
          run: echo "Hello, world!"